.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 0 0 auto;
  min-width: 300px;
  background-color: white;
  border: 2px solid #7e57c2;
}

.contact {
  padding: 20px;
}

h1 {
  background-color: #7e57c2;
  color: white;
  padding: 20px;
  margin: 0;
}

h3 {
  font-size: 20px;
  color: #673ab7;
  font-weight: 600;
  padding-bottom: 7px;
}

p {
  font-size: 16px;
  margin-bottom: 1em;
  color: #333;
}

.details-box {
  padding-top: 75px;
}

.main {
  flex: 1;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
