<div class="label-box">
  <h2>Vaša Korpa</h2>
  <div class="account-link">
    <p>Ukupno u korpi: {{ productService.total() | formatPrice }}</p>
  </div>
</div>

<div>
  <div class="responsive-grid">
    @for (product of productService.cartItems(); track product.id) {
    <app-product-item-summary [product]="product"></app-product-item-summary>
    } @empty {
    <div class="account-link">
      <p>Vaša korpa je prazna...</p>
      <button mat-raised-button color="primary" [routerLink]="['/products']">
        Pronađi proizvode
      </button>
    </div>
    }
  </div>
</div>
