<mat-toolbar color="primary">
  <!-- Logo -->
  <img [src]="petShop().logo" alt="Pet Store Logo" class="logo" />

  <!-- Pet Store Name -->
  <span class="store-name">{{ petShop().naziv }}</span>

  <!-- Navigation Links -->
  <div class="spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="hamburger-btn">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="about">O Nama</button>
    <button mat-menu-item routerLink="products">Proizvodi</button>
    <button mat-menu-item routerLink="users">Korisnici</button>
  </mat-menu>

  <nav>
    <a mat-button routerLink="about" routerLinkActive="active">O Nama</a>
    <a
      mat-button
      routerLink="products"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Proizvodi</a
    >
    <a
      mat-button
      routerLink="users"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Korisnici</a
    >
  </nav>

  <!-- Sign In/Log In Buttons -->
  <span class="spacer"></span>
  <a
    mat-icon-button
    routerLink="cart"
    routerLinkActive="cart-active"
    class="shopping_cart_icon"
  >
    <mat-icon
      [matBadge]="cartItems().length"
      aria-hidden="false"
      matBadgeColor="warn"
      [matBadgeHidden]="!cartItems().length"
      >shopping_cart</mat-icon
    >
  </a>
  <button mat-raised-button (click)="onLogin()">Prijavi se</button>
</mat-toolbar>
