.star {
  color: #311b92;
}

.progress-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .label {
    font-size: 10px;
    margin: 0;
  }
  .progress-bar {
    width: 70%;
  }
}
