<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="productFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Naziv</mat-label>
      <input matInput type="text" formControlName="naziv" />
      <mat-error *ngIf="isFieldInvalid('naziv')">{{
        getErrorMessage("naziv")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Vrsta</mat-label>
      <mat-select matSelect formControlName="tip">
        <mat-option value="Hrana za pse">Hrana za pse</mat-option>
        <mat-option value="Hrana za macke">Hrana za macke</mat-option>
        <mat-option value="igracke">Igracke</mat-option>
        <mat-option value="transporteri">Transporteri</mat-option>
        <mat-option value="poslastice">Poslastice</mat-option>
      </mat-select>
      <mat-error *ngIf="isFieldInvalid('tip')">{{
        getErrorMessage("tip")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Slike</mat-label>
      <textarea matInput formControlName="slike"></textarea>
      <mat-hint align="start"
        >URL slike (razdvojeno zarezom, npr. url1, url2)</mat-hint
      >
      <mat-error *ngIf="isFieldInvalid('slike')">{{
        getErrorMessage("slike")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Kratak opis</mat-label>
      <input matInput type="text" formControlName="kratakOpis" />
      <mat-error *ngIf="isFieldInvalid('kratakOpis')">{{
        getErrorMessage("kratakOpis")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Detaljan opis</mat-label>
      <textarea matInput formControlName="detaljanOpis"></textarea>
      <mat-error *ngIf="isFieldInvalid('detaljanOpis')">{{
        getErrorMessage("detaljanOpis")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cena</mat-label>
      <input matInput type="number" formControlName="cena" />
      <span matTextSuffix>RSD</span>
      <mat-error *ngIf="isFieldInvalid('cena')">{{
        getErrorMessage("cena")
      }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Otkaži</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!isFormValid()"
  >
    Potvrdi
  </button>
</mat-dialog-actions>
