<div class="buttons-container">
  <div class="buttons">
    <button mat-raised-button (click)="editProduct()">Izmeni</button>
    <button mat-raised-button (click)="onDelete()">Izbriši</button>
  </div>
</div>
<div class="row">
  <div class="side">
    <div class="box">
      <app-carousel [urls]="productData.slike"></app-carousel>
      <div class="add-button">
        <button
          mat-raised-button
          (click)="addToCart()"
          *ngIf="!productData.uKorpi"
          color="primary"
        >
          <mat-icon>add_shopping_cart</mat-icon>Dodaj u korpu
        </button>
        <button mat-raised-button *ngIf="productData.uKorpi">
          Dodat u korpu
        </button>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="article-number">Broj Artikla: {{ productData.id }}</div>
    <div class="title">{{ productData.naziv.toUpperCase() }}</div>
    <p class="price">{{ productData.cena }} RSD</p>
    <p>
      {{ productData.detaljanOpis }}
    </p>
    <hr />
    <div>Tip proizvoda: {{ productData.tip }}</div>
    <hr />
    <app-star-rating
      [averageRating]="productData.prosecnaOcena"
      [ratings]="productData.ocene"
      (ratingUpdated)="updateProductRating($event)"
    ></app-star-rating>
  </div>
</div>
