<h2 mat-dialog-title>Izmena podataka o radnji</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="storeFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Naziv</mat-label>
      <input matInput type="text" formControlName="naziv" />
      <mat-error *ngIf="isFieldInvalid('naziv')">{{
        getErrorMessage("naziv")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Godina otvaranja</mat-label>
      <input matInput type="number" formControlName="godinaOtvaranja" />
      <mat-error *ngIf="isFieldInvalid('godinaOtvaranja')">{{
        getErrorMessage("godinaOtvaranja")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sedište</mat-label>
      <input type="text" matInput formControlName="adresa" />
      <mat-error *ngIf="isFieldInvalid('adresa')">{{
        getErrorMessage("adresa")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefon</mat-label>
      <input type="text" matInput formControlName="telefon" />
      <mat-error *ngIf="isFieldInvalid('telefon')">{{
        getErrorMessage("telefon")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Logo</mat-label>
      <input matInput type="url" formControlName="logo" />
      <mat-error *ngIf="isFieldInvalid('logo')">{{
        getErrorMessage("logo")
      }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Otkaži</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!isFormValid()"
  >
    Potvrdi
  </button>
</mat-dialog-actions>
