html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif; /* Choose a readable font */
  font-size: 16px; /* Adjust the base font size */
  line-height: 1.5; /* Set a comfortable line height */
  color: #333; /* Choose a readable text color */
}

.mdc-card__actions {
  justify-content: space-around;
}

p {
  margin-bottom: 1em; /* Add some space between paragraphs */
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-container {
  flex: 1;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  padding: 24px;
}

#navbar {
  flex: 0 0 auto;
}

.image {
  margin-right: 10px;
  height: 320px;
  width: 400px;
}

#footer {
  flex: 0 0 auto;
  mat-toolbar {
    background-color: #212121;
    .copyright {
      margin: 0 auto;
      font-size: 14px;
      color: #ede7f6;
    }
  }
}

#main {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ede7f6;
  overflow: auto;
  background-image: url("./assets/images/bg.png");
  background-size: cover;
  background-position: bottom center;
  &.overlay {
    background-image: url("./assets/images/bg-overlay.png");
  }
}

.buttons {
  button {
    margin-left: 10px;
  }
}

mat-form-field {
  margin-bottom: 10px;
  width: 100%;

  &:first-of-type {
    margin-top: 10px;
  }

  &.readonly-field {
    background-color: transparent;
    .mdc-text-field--filled.mdc-text-field--disabled {
      background-color: transparent;
    }

    mat-label {
      font-size: 24px;
      font-weight: 600;
    }
  }
}

.label-box {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.buttons-container {
  padding: 10px 16px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.add-button {
  button {
    width: 100%;
  }
}

.users-grid {
  width: 100%;
  margin-bottom: 20px;

  .mat-mdc-header-cell {
    background-color: #7e57c2 !important;
    color: white;
    font-size: 14px;
  }
  .mat-mdc-row {
    cursor: pointer;

    &:nth-child(even) {
      background-color: transparent;
    }

    &:nth-child(odd) {
      background-color: #ede7f6;
    }

    .table-action {
      visibility: hidden;
    }

    &:hover {
      .mat-mdc-cell {
        border-bottom: 1.5px solid #7e57c2;
        border-top: 1.5px solid #7e57c2;
      }
      .mat-mdc-cell:first-of-type {
        border-left: 1.5px solid #7e57c2;
      }
      .mat-mdc-cell:last-of-type {
        border-right: 1.5px solid #7e57c2;
      }
      font-weight: 600;
      color: #7e57c2;
      & .table-action {
        visibility: visible;
      }
    }
  }
}

.account-link {
  font-family: Roboto, sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  color: rgba(0, 0, 0, 0.6);
  .link {
    color: #7e57c2;
    font-weight: 600;
    cursor: pointer;
  }
}

.user-details {
  width: 60%;
  margin: 0 auto;

  .mat-mdc-card-header {
    padding-bottom: 20px;
    background-color: #651fff;
    color: #ede7f6;
  }

  .mat-mdc-card-subtitle {
    color: #ede7f6;
  }

  .mat-mdc-card-content {
    padding: 16px;
  }

  .mat-divider {
    margin: 5px 0;
  }

  .label {
    font-size: 16px;
    font-weight: 500;
    color: #7e57c2;
  }
}
